<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap"
	rel="stylesheet">
<title>Home</title>
</head>
<body>
	<section class="header">
		<nav>
			<img src="images/logoNE.png">
			<div class="nav-links">
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a th:href="@{/tornei}">TORNEI</a></li>
					<li><a th:href="@{/default}">AMMINISTRATORE</a></li>
				</ul>
			</div>
		</nav>
		<div class="text-box">
			<h1>Nope Events</h1>
		</div>
	</section>
	<section class="about-us">
	<div class="text-box">
		<h1>Su di noi:</h1>
		<p>Questa iniziativa nasce dalla nostra passione per il mondo del calcio e
		 dell'organizzazione degli eventi. L'anno scorso abbiamo deciso, senza nessun
		 tipo di esperienza, di entrare nel settore dei tornei di calcio amatoriali.
		</p>
		<p>Proponiamo tornei di calcio a 5, a 7 e ad 8. Per iscriverti o per ricevere
		   maggiori informazioni ti invitiamo a contattarci.
		</p>
	</div>
	</section>
	<footer> | Via Appia Antica 12, Roma (RM) | 0612345678 |</footer>
</body>
</html>