<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap"
	rel="stylesheet">
<title>Inserimento torneo</title>
</head>
<body>
	<section class="header">
		<nav>
			<img src="../images/logoNE.png">
			<div class="nav-links">
				<ul>
					<li><a href="/default">HOME</a></li>
				</ul>
			</div>
		</nav>
		<div class="text-box">
		<h2>Inserimento nuovo torneo:</h2>
			<form th:action="@{/admin/torneoForm}" method="post"
				th:object="${torneo}">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">errore
						globale</p>
				</div>
				<div>
					nome: <input type="text" th:field="*{nome}" />
					<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
				</div>
				<div>
					descrizione: <input type="text" th:field="*{descrizione}" />
					<div th:if="${#fields.hasErrors('descrizione')}"
						th:errors="*{descrizione}"></div>
				</div>
				<div>
					montepremi: <input type="text" th:field="*{montepremi}" />
					<div th:if="${#fields.hasErrors('montepremi')}"
						th:errors="*{montepremi}"></div>
				</div>
				<div>
					data di inizio: <input type="date" th:value="*{dataInizio}"
						th:field="*{dataInizio}" />
					<div th:if="${#fields.hasErrors('dataInizio')}"
						th:errors="*{dataInizio}"></div>
				</div>
				<div>
					<button type="submit">Conferma</button>
				</div>
			</form>
		</div>
		<div class="text-box-el">
			<h4>I nostri Tornei</h4>
			<ul>
				<li th:each="torneo : ${tornei}">
					<p
						th:text="${torneo.nome} + '. ' + ${torneo.descrizione}">
						Torneo</p>
						<a th:if="${torneo.isIscrizioneAperta()} and ${torneo.iscrizioniChiudibili()}" th:href="@{'/admin/chiudiIscrizione' +  '/' + ${torneo.id}}"><button>Chiudi iscrizione</button></a>
						<a th:if="${torneo.isIscrizioneAperta()}" th:href="@{'/admin/cancellaTorneo' +  '/' + ${torneo.id}}"><button>Cancella il torneo</button></a>
						<a th:if="${torneo.isIscrizioneAperta()}" th:href="@{'/admin/squadreTorneo' +  '/' + ${torneo.id}}"><button>Rimuovi squadre</button></a>
						<a th:if="${torneo.isIscrizioneAperta()}" th:href="@{'/admin/modificaTorneo' +  '/' + ${torneo.id}}"><button>Modifica dati</button></a>
						<a th:if="${!torneo.isIscrizioneAperta()}" th:href="@{'/admin/gestisciPartite' +  '/' + ${torneo.id}}"><button>Gestisci partite</button></a>
				</li>
			</ul>
		</div>
	</section>
</body>
</html>