*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.6), rgba(4,9,30,0.6)),url(../images/campo.png);
	background-position: center;
	background-size: cover;
	position: relative;
}

.header h1 {
	padding: 40px;
	text-align: center;
	font-size: 50px;
	color: white;
}


nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav img{
	width: 100px;
}

.nav-links{
	flex: 1;
	text-align: right;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a{
	color: white;
	text-decoration: none;
	font-size: 1.7em;
}

.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #008000;
	display: block;
	margin: auto;
}

.nav-links ul li:hover::after{
	content: '';
	width: 100%;
	height: 2px;
	background: green;
	display: block;
	margin: auto;
}

.text-box-el{
	width: 45%;
	color: white;
	margin-top: 10%;
	margin-right: 10px;
	text-align: center;
	float: right;
}

.text-box-el li{
	list-style-type: none;
}


.text-box{
	width: 45%;
	color:white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	float:right;
}

.text-box h1{
	font-size: 62px;
}

.text-box h4{
	color: white;
}

.text-box a{
	color: white;
}

.text-box p{
	margin: 10px o 40px;
	font-size: 18px;
	color: white;
}

.text-box form div{
	margin: 2px;
}


.text-box-2-table {
	position: absolute;
	background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: 0;
    padding-top: 20%;
}

.text-box-2 {
	color:white;
	padding: 1em;
	padding-left: 3em;
	font-size: 1.5em;
}

.text-box-2 p{
	color: white;
}

.text-box-2 a{
	color: white;
}

.about-us{
	min-height: 100vh;
	width: 100%;
	background-color: #3b3b3b;
	background-position: center;
	background-size: cover;
	position: relative;
	}

footer{
	width: 100%;
	text-align: center;
	padding: 30px 0;
}